html{
    font-size: 30px;
}
#percentages{
    background-color: #696875;
    width: 800px;
    height: 800px;
}

div{
    background-color: #e5989b;
    width:50%;
    height:50%
}
h1{
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}
h2{
    font-size: 5em;
    margin-left: 1em;
}
h3{
    font-size: 1.5em ;
}
p{
    font-size: 1em;
}
article{
    font-size: 50px;
}

button{
    /*font-size: 30px;
    padding: 0 30px;
    border-radius: 15px;*/
    font-size: 1em;
    padding: 0 2em;
    border-radius: 0.5em;

    background-color: cadetblue;
    color:white;
}
ul{
    font-size: 0.75em;
}

#rems h2{
    font-size:3rem;
}

#rems h3{
    font-size:2rem;
}

#rems ul{
    font-size:0.8rem;
}

#rems button{
    font-size:1.5rem;
}



