<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>   
</head>
<body>
   <h1>The Home Page <%= 4 + 5+ 1 %></h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas excepturi repellendus libero deleniti pariatur, illum ipsam nulla rerum, dolorem ullam ipsa omnis minus hic quam natus! Harum odit exercitationem repudiandae.
   Omnis eos perspiciatis similique natus. Aliquid debitis ipsa voluptatem magnam cum sapiente, vitae corrupti numquam esse, labore, veritatis qui consequatur maiores quas a provident repellat quae similique incidunt delectus perferendis.
   Maxime magni illum, earum a voluptatum placeat. Exercitationem debitis perferendis recusandae sapiente ducimus itaque dicta enim consectetur quaerat facere. Iste laboriosam quis esse incidunt, ex praesentium saepe consequuntur iusto suscipit.</p>
   
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores itaque doloremque deserunt mollitia. Culpa nulla veritatis pariatur labore, quidem sapiente eaque nemo dolore doloribus eos illo quos similique necessitatibus minima.
   Ratione similique repudiandae commodi eius exercitationem! Velit nemo voluptatibus suscipit repudiandae harum, quis, cupiditate dolor, et praesentium quasi error nulla id culpa quidem ut? Deserunt repellat consectetur provident cum quos.
   Eveniet, ex officiis. Placeat nostrum explicabo nemo iure iusto itaque sit dolores at quibusdam veniam, natus et quas est voluptatem accusamus quod provident ad? Maxime rerum minima voluptates enim itaque.</p>
</body>
</html>